.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{
   background-color: transparent;
}

.main-container{
   padding-top: 20px;
}
.logo{
   padding-top: 50px;
   padding-bottom: 10px;
}


@font-face{
   font-family: 'Alcubierre';
   src: url('Alcubierre.otf');
   font-weight: 400;
   font-style: normal;
}
@font-face{
   font-family: 'SIMPLIFICA-Typeface';
   src: url('SIMPLIFICA Typeface.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family: 'Nexa-Light';
   src: url('/Nexa Light.otf');
   font-weight: 400;
   font-style: normal;
}

.main-text h1, h2,h3{
   font-family: SIMPLIFICA-Typeface;
   font-weight: bolder;
}

.main-text p{
   font-family: Nexa-Light;
   font-size: 16px;
}


.common_divider{
   margin-top: 0px;
   margin-bottom: 0px;
}

.footer{
   /*background-color: #757575;*/
   background-color: #858687;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 30px;
}

.footer h3{
   font-family: Alcubierre;
   font-weight: normal;
}

.footer_a{
   font-family: Nexa-Light;
   font-size: 16px
}
.st_row{
   padding-left: 20px;
   padding-top: 44px;
}

.st_row ul{
   list-style: none;
   margin: 0px 0px 14px 0px;
   padding: 0;
   padding-top: 15px;
}

.st_row h5{
   color: black;
}

.st_row a{
   color: white;
}

.st_row a:hover, a:focus{
   text-decoration: none;
   color: #bbb;
}

.container_divider{
   display: block;
   border-top: .5px solid black;
   margin-top: 35px;
   margin-bottom: 50px;
}

#image_1{
   padding-top: 8px;
   padding-left: 20px;
   margin-left: 10px;
}

#facebook_tag{
   color: #e5e5e5;
}

#fb-btn{
   margin-top: 12px;
   margin-right: 17px;
}
#result{
   padding-right: 10px;
   padding-top: 8px;
   font-family: Nexa-Bold;
   font-size: 16px;
}
