.top{
   padding-top: 30px;
}

.final-row{
   padding-top: 140px;
}

#facebook_tag{
   color: #e5e5e5;
}
.row{
   margin-right: 0px;
   margin-left: 0px;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
 margin-right = 0px;  
}
