/* .top{
   padding-top: 30px;
}
.final-row{
   padding-top: 140px;
}
#facebook_tag{
   color: #e5e5e5;
}
.row{
   margin-right: 0px;
   margin-left: 0px;
}
 */

.row{
   margin-right: 0px;
}

.final-row{
   padding-top: 50px;
}

#facebook_tag{
   color: #e5e5e5;
}

#fb-btn{
   margin-top: 12px;
   margin-right: 17px;
}
#result{
   padding-right: 10px;
   padding-top: 8px;
   font-family: Nexa-Light;
   font-size: 16px;
}

span {
   display: block;
}
